.auth {
    text-align: center;
    background: url(../../resources/bg.jpg);
    background-position: top;
    background-position: no-repeat;
    height: 100vh;
    h1{
        color: white;
        padding: 2rem;
    }

    .auth-container{
        background: linear-gradient(57.36deg, rgba(0,0,0,0.87) 51.65%, rgba(9, 60, 75, 0.435) 100%);
        height: 100vh;

        .logo {
            margin-left: 10%;
            max-width: 40%;
            img {
                max-width: 30vw;
            }  
        }
    
        .form-login{
            text-align: start;
            max-width: 30%;
            max-height: 50%;
            background-color: $background;
            border-radius: 1rem;
            border: 5px solid black;
            padding: 3rem;
            label{
                padding: 0px;
            }
        }
    }
}