.codigo-respuesta{
    text-align: center;
    background-color: $background;
    h2{
        padding: 2rem;
    }
    .tableData{
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        background-color: $gray-strong;
    }
}