.dashboard{
    text-align: center;
    background-color: $background;
    h2{
        padding: 2rem;
    }
    .form{
        width: 100%;
        margin-bottom: 2rem;
        select{
            margin: 0.5rem;
            width: 25vw;
        }
    }
}