.graphPie{
    //margin: 1rem;
    //padding: 1rem;
    canvas{
        max-width: 600px;
        max-height: 600px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    
}