.graphDonut-dashboard {
    canvas{
        max-width: 500px;
        max-height: 500px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

.graphBar{
    canvas{
        max-width: 900px;
        max-height: 300px;       
        margin-left: 10%;  
        margin-right: 5%;  
        display: block;
    }
}

.graphDonut, .graphDonut-CodeResp{
    canvas{   
        width: 500px;  
        height: 500px;
        margin-right: auto;
        margin-left: auto;
        display: block; 
    }
}