.graphBar {
    canvas{
        max-width: 100%; 
        max-height: 550px;
        display: block;
    }
    .data{
        padding: 1.5rem;
        text-align: justify;
        .list{
            margin-left: 15%;
            margin-right: 10%;
        }
        ul{
            column-count: 3;
            list-style: none;
        }
    } 
}
.graphDonut, .graphDonutCodeResp{ 
    canvas{    
        max-width: 100%;  
        max-height: 500px;
        margin-right: auto;
        margin-left: auto;
        display: block; 
    }
}
.graphDonutCodeResp{ 
    canvas{    
        max-height: 800px;
    }
}
