.medio-acceso{
    text-align: center;
    background-color: $background;
    h2{ 
        padding: 2rem;
    }

    .select{
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        width: 80%
    }

    .tableData{
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        background-color: $gray-strong;
    }
}