.sidebar{
    overflow: hidden;
    background-color: $gray-strong;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 10;
    ul{
        list-style: none;
        float: left;
        display: flex;
        text-align: center;
        margin: 0.5rem;
        li{
            
            a{ 
                text-decoration: none;
                &.active{
                    background-color: $black-selected;
                }
            }
            a:hover{
                background-color: $black-selected;
            }
        }
    }
}
