.sidebar{
    background-color: $gray-strong;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 10;
    ul{
        list-style: none;
        float: left;
        display: flex;
        text-align: center;
        li{
            margin: 0.5rem;
            a{ 
                text-decoration: none;
                &.active{
                    background-color: $black-selected;
                }
            }
            a:hover{
                background-color: $black-selected;
            }
            img{
                width: 70px;
                height: 60px;
                padding-bottom: 0.7rem;
            }
        }
    }
    .drap{
        margin: 0.5rem !important;
        color: white !important;
        background-color: $gray-strong !important;
        border-color: transparent !important;
    }
    .drap:active{
        background-color: $black-selected !important;
        border-color: transparent !important;
    }
    .drap:hover{
        background-color: $black-selected !important;
    }
}
