.sidebar{
    background-color: $gray-strong;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 10;
    font-size: 0.9rem;
    label{
        font-size: 0.9rem;
    }
    ul{
        list-style: none;
        float: right;
        display: flex;
        text-align: center;
        .some{
            float: left;
            display: flex;
            margin-right: 10vw;
        }
        li{
            margin: 0.5rem;
            a{ 
                text-decoration: none;
                &.active{
                    background-color: $black-selected;
                }
            }
            a:hover{
                background-color: $black-selected;
            }
            img{
                width: 70px;
                height: 60px;
                padding-bottom: 0.7rem;
            }
        }
    }
    .drapToken, .drapUser, .drapFilter{
        margin: 0.5rem !important;
        color: white !important;
        background-color: $gray-strong !important;
        border-color: transparent !important;
    }
    .drapFilter{
        margin: 0rem !important;
    }
    .drapFilter-menu{
        margin-top: 30px !important;
        width: 94vw !important;
        padding: 2rem !important;
        background-color: $gray-strong;
        .select{
            color: black;
            text-align: start;
        }
        .select-filter-float{
            margin: 0.5rem;
            color: black;
            text-align: justify;
        }
        .filter-botton{
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: white;
            margin: 2rem;
            width: 8rem; 
            font-size: 1.2rem;
        }
        .filter-botton:hover{
            opacity: 0.7;
        }
        .item{
            background-color: $gray-strong !important;
        }
        hr{
            border: 1px solid white;
        }
        h5{
            text-align: start !important;
        }
    }
    .drapUser{
        margin: 0px !important;
    }

    .drapToken:active, .drapUser:active{
        background-color: $black-selected !important;
        border-color: transparent !important;
    }
    .drapToken:hover, .drapUser:hover{
        background-color: $black-selected !important;
    }
}
