.token-b2{
    text-align: center;
    background-color: $background;
    h2{
        padding: 2rem;
    }
    .tableData{
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: $gray-strong;
        padding: 1rem;
    }
    .form{
        background-color: white;
        border: 1rem solid $gray-strong;
        margin: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-top: 2rem;
        .button-filter, .button-reset{
            background-color: $black-selected;
            border: none;
            border-radius: 4px;
            color: white;
            margin: 2rem;
            width: 6rem;
        }
        .button-reset{
            width: 9rem;
        }
        select{
            margin: 0.5rem;
            width: 15rem;
        }
    }
}