.token-c0{
    text-align: center;
    background-color: $background;
    h2{
        padding: 2rem;
    }
    h5{
        text-align: start;
    }
    .filter{
        margin: 1rem;
    }
    .form{
        background-color: white;
        border: 1rem solid $gray-strong;
        margin: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-top: 2rem;
        .select{
            text-align: justify;
        }
        .select-filter{
            margin-left: auto;
            margin-right: auto; 
            margin-bottom: 1rem;
            width: 20rem;
        }
        .filter-botton{
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: white;
            margin: 2rem;
            width: 8rem; 
            font-size: 1.2rem;
        }
        .filter-botton:hover{
            opacity: 0.7;
        }
    }
    .tableData{
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: $gray-strong;
        padding: 1rem;
    }      
}