.user-managment{
    text-align: center;
    background-color: $background;
    h2{
        padding: 2rem;
    }
    .form-user{
        background-color: white;
        border: 1rem solid $gray-strong;
        margin: 1rem;
        margin-left: 5%;
        margin-right: 5%;
        padding: 1rem;
        h5{
            text-align: start;
            margin-bottom: 1rem;
        }
        .personalData, .profileData{
            text-align: start;
        }
        input, .select{
            margin-bottom: 1rem;
            width: 100%;
        }
        input{
            padding: 0.3rem;
            border: 1.5px solid #CDCDCD;
            border-radius: 5px;
        }
        input:focus{
            outline: none;
            border: 1.5px solid $normalButton;
        }
        p{
            text-align: right;
            font-size: 15px;
        }
        .register-botton{
            background-color: $normalButton;
            border: none;
            border-radius: 4px;
            color: white;
            margin: 2rem;
            width: 9rem;
            height: 2rem;
        }
    }
    .tableData{
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: $gray-strong;
        padding: 1rem;
        .edit-button, .erase-button{
            border: none;
            border-radius: 4px;
            width: 2rem;
        }
        .edit-button{
            background-color: #aeb4fa;
        }
        .erase-button{
            background-color: #fdcdcd;
        }
    }
}