$light: #ffff;
$gray: #e7e9eb;
$gray-strong: #1e1e1e;   
$black-selected: #434957;
$background: #f1ffef;
$normalButton: #1271F1;

//CSS base
@import './base/base';
//Auth
@import './components/auth';
//Loading pages
@import './ui/loadingPage';
//Amdin pages
@import './admin/userManagment';
//User pages
//Componets
@import './components/sidebar';
@import './components/dashboard'; 
@import './components/cards';
@import './components/graphs';
//Tokens
@import './components/kq2';
@import './components/codeResponse';
@import './components/entrymode';
@import './components/tokenc4';
@import './components/tokenc0';
@import './components/tokenb3';
@import './components/tokenb4';
@import './components/tokenb2';
@import './components/tokenb5';
@import './components/tokenb6';

//Desglosador
@import './components/breaker';