@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 8px;     
    height: 8px;    
    //display: none; 
}
::-webkit-scrollbar-thumb {
    background: $gray-strong;
}
::-webkit-scrollbar-track {
    background: #e1e1e1;
}
.flex{
    display: flex;
}